@model MyBlogWebApp.Models.Article

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            <span style="white-space: pre">@Model.Body</span>  @* 複数行表示するためにwhite-space属性設定して表示 *@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>

        <dd>
            <span class="dateTimeToConvertToClientFromUtc">@Model.CreatedDateTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>

        <dd>
            <span class="dateTimeToConvertToClientFromUtc">@Model.ModifiedDateTime.ToString("yyyy/MM/dd HH:mm:ss")</span>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |

            @Html.ActionLink("Cancel", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
